* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

.container {
  width: 80%;
}

a {
  text-decoration: none;
}

.nav {
  background-color: #f4f7fb;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}