@use "./variables" as *;



*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
.container{
    width: 80%;
}
a{
    text-decoration: none;
}

body{
    font-family: &font;
}