@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
.nav {
  background-color: $light-grey;

  &__container {
    @include flex(space-between, center);
  }
   ul {
    @include flex(space-between, center);
    padding: 1em;
    li {
      padding: 1em;
      cursor: pointer;
      a {
        color: $black;
        padding: 1em;
        &:hover{
          background-color: $orange;
          color: $white;
        }
      }
    }
  }
  
}



